// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.
// Primary/body text
$mainFontSize: 14px;
$lineHeight:1.43;

//CORES


/* cores das equipes */


/*Redes Sociais*/

// base color scheme
$black:             #000000;
$white:             #ffffff;
$green:             #128894;
$green2:            #4cd964;
$red:               #F31723;//#BF1402
$red2:              #ff2d55;
$pink:              #ff4040;
$purple:            #612A6D;
$purple2:           #5856d6;
$blue:              #3D9CD2;
$blue2:             #007aff;
$orange:            #F47E20;
$orange2:           #ff9500;
$yellow:            #ffcc00;
$dirtWhite:         #F2F5F7;//#f5f5f5
$grey:              #89949b;
$lightGrey:         #d6d7d8;
$mediumGrey:        #a0a1a2;
$mediumGrey2:       #4e5054;
$mediumGrey3:       #898989;
$darkGrey:          #3A4752;//#3c3d41
$peterRiverBlue:    #3498db;
$belizeHoleBlue:    #2e8ece;
$alizarinRed:       #e74c3c;
$carrotOrange:      #e67e22;
$turquoiseGreen:    #1abc9c;
$facebook:          #3B5998;
$twitter:           #55ACEE;
$google-plus:       #D34836;
$whatsapp:          #2AB200;
$instagram:         #517fa4;
$linkedin:          #007bb6;


$base-font: 		'Ubuntu', Arial, sans-serif;
$base-font-serif:   Georgia, "Times New Roman", Times, serif;
$base-font-mono:    Menlo, Monaco, Consolas, "Courier New", monospace;
$base-font-size:    14px; 
$base-font-color:   $black;
$base-font-link:    $peterRiverBlue;
$base-font-link-hover: lighten( $base-font-link, 20% );
$font-family-icon:  "FontAwesome" !default;
$fa-var-check:      "\f00c" !default;
$check-icon:        $fa-var-check !default;
$header-font: 		$base-font;
$ms-base:           1em, .875em;
$ms-ratio:          1.618;

$body-background: 	$dirtWhite;
$color_links: 		$green;
$color_border:		rgba(0,0,0,0.05);
$error: 			$red;
$success: 			$green;
$info: 				$blue;

// layout sizes
$desktop:			768px;
$handheld:			568px;
$container-width:	100%;
$menu-width:        250px;
$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after,

	use-custom: (
		box-sizing: false
	)
);